body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('C:\Users\pkspi\OneDrive\Desktop\Event management system\pexels-ivo-rainha-527110-1290141.jpg');
    background-color: #f4f4f4;
}

nav ul {
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}
